body {
  background-color: black;
  margin: 0;
}

#p-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:
        100px
        1fr
        50px;
    grid-template-areas:
        "header"
        "content"
        "footer";
    height: 100vh;
    background-color: #fff;
}

#p-game-field {
  margin: 0 auto;
  width: 80%;
  height: 80%;
  border: 1px solid #777;
  padding: 10px;
  border-radius: 5px;
  background: #ffffff;
  box-shadow: 0 0 10px #777;
  position: relative;
  cursor: url(imgs/havaianas.png), crosshair;
  color: #333;
  overflow: hidden;
}

#p-game-field:click {
  cursor: url(imgs/havaianas_deitada.png), crosshair;
}

main#content {
  grid-area: content;
  background: #333;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

main#content section {
  width: 100%;
  text-align: center;
}

main#content section.game-field {
  width: 100%;
  flex: 1;
  text-align: center;
}

header#header {
  grid-area: header;
  background: #fff;
  display: flex;

  text-align: center;
  justify-content: center;
  vertical-align: middle;
}

header#header img.bug-icon {
  height: 50%;
  align-self: center;
  margin: 0 10px;
}

header#header h1.bug-title {
  align-self: center;
}

footer#footer {
  grid-area: footer;
  background: #fff;
  display: flex;

  text-align: center;
  align-items: center;
  justify-content: center;
}

.p-bug {
  width: 20%;
  height: 20%;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  background-image: url(imgs/bug.svg);
  position: absolute;
  top: 0;
  left: 0;
}

.btn {
  padding: 10px;
  border: 1px solid;
  border-color: #777;
  border-radius: 5px;
  box-shadow: 0 0 10px #ccc;
  cursor: pointer;
}
